{% extends 'Blog_Application/base.html' %}
{% load static%}
{% load crispy_forms_tags %}
{% block parentblock %}
<style media="screen">
  body{
    background-color: #00eded;
background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  }
  h1{
    margin-top:8%;
    margin-bottom:2%;
    text-align: center;
    font-weight: bold;
  }
  .just{
    margin-left:45%;
  }
</style>
<body>
<div class="container">
<h1 >Post New Blog</h1>

<div class="row justify-content-center">
<div class="col-lg-6">
<form  method="post" enctype="multipart/form-data">
{{form | crispy}}
{%csrf_token%}
<input type="submit" class="btn btn-success just" value="Upload">
</form>
</div>
</div>
</div>
</body>
{%endblock%}
